@font-face {
    font-family: 'go_2_old_westernregular';
    src: url('../fonts/go_2_old_western-webfont.woff2') format('woff2'),
        url('../fonts/go_2_old_western-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: #EBEBEB;
}

#container>h1 {
    margin-top: 15px;
    margin-bottom: 25px;
}

.post,.comment {
    border: 3px solid black;
    margin-bottom: 30px;
    padding: 10px;
    box-shadow: 5px 9px 11px #737373;
    background-color: white;
}

#post_content {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

#post_date {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
    text-decoration: none;
    color: black
}


#tinymce {
    width: 80%;
}

#main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#container {
    width: 80%;
}

#banner {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vw;
    font-family: 'go_2_old_westernregular';
    color: white;
}

#lake {
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

#comments {
    margin-top: 35px;
    margin-bottom: 20px;
}

#comments_post {
    margin-bottom: 25px;

}

#comments_post>h2 {
    margin-bottom: 15px;
}

textarea {
    height: 100%;
}

#backto {
    margin-top: 15px;
    margin-bottom: 15px;
}

#comment {
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 10px;
}

#comment_content {
    margin-top: 10px;
}

#comment_title {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    background-color: black;
    border-color: black;
}

#banner_admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
    color: black;
}

#menu_admin {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 3vw;
    margin-bottom: 30px;
    margin-top: 20px;
}

#post_admin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2vw;
    font-weight: bold;
}

#button_admin {
    width: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#post_title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#ud_post {
    margin-top: 30px;
    margin-bottom: 20px;
}

#comment_data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#comment_content{
    font-size:1.5vw;
}

#comment_actions{
    text-align: right;
}

#post_form, #create_post_btn {
    margin-top: 15px;
}

#confirm_dl_post,#confirm_dl_comment{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,76%);
    display:none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#confirm_window{
    width:50%;
    height:50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    background-color: black;
}

.confirm-text{
    text-align:center;
    font-size: 2vw;
    color: white
}

.confirm-buttons{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

#post_button_admin{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 10%;
}
